
h3 {
  margin-top:2px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

button {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  min-width:150px;
  max-width:150px;
  min-height:40px;
  max-height:40px;
}

div.comics {
  margin:25px;
}

div.imgContainer {
  border: 1px solid black;
  height: 650px;
  width: 650px;
  align-content:center;
  position:relative;
}

div.commentsform {
  margin-top:30px;

}

img.imgComic {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height:99%;
  max-width:99%;
}

textarea {
  margin:0 auto;
  display:block;
}

.alt {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style:italic;
  max-width: 600px;
}

.btn-comment {
  border-radius:.25rem;
  color:white;
  background-color:#007bff;
  border-color:#007bff;
  margin:0 auto;
  display:block;
  margin-top:5px;
}