
h2 {
  font-family:Lobster;
}

h5 {
  font-family:Lobster;
}

div.comicimg {
  width:500px;
  height:500px;
  border:1px solid black;
}

div.comicimg img {
  display:block;
  margin: auto;
  max-width:100%;
  max-height:100%;
}

textarea {
  margin:0 auto;
  display:block;
}

.alt {
  font-style:italic;
}

.btn-comment {
  margin:0 auto;
  display:block;
  margin-top:5px;
}