<div class="app-wrapper">
  <nav class="navbar">
    <div class="nav-content">
      <h2 class="header">XKCD BOARDS</h2>
      <button class="btn btn-primary btn1"
        ng-click="$ctrl.goHome()"
      >Home</button>
      <button class="btn btn-primary btn2"
        ng-click="$ctrl.getcomic.getLatest($ctrl.setNewComic)"
      >Latest</button>
      <button class="btn btn-primary btn3"
        ng-click="$ctrl.getcomic.getRandom($ctrl.setNewComic)"
      >Random</button>
    </div>
  </nav>
  <div class="loading-wrapper" ng-if="$ctrl.loading">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
  <div class="content-wrapper" ng-if="!$ctrl.loading">
    <div class="info">
      <h3>{{$ctrl.currentComic.title}} ({{$ctrl.currentComic.year}})</h3>
      <div class="alt">'{{$ctrl.currentComic.alt}}'</div>
    </div>
    <div class="wrapper">
      <div class="comic-view">
        <comics-view
          comic="$ctrl.currentComic"
          home="$ctrl.home"
          delay="$ctrl.delay"
        ></comics-view>
      </div>

      <div ng-class="{ 'comment-view toggle-comments' : $ctrl.toggle, 'comment-view' : !$ctrl.toggle }">
        <div 
          class="comment-tab"
          ng-click="$ctrl.toggleComments()"
        >
          <span ng-if="!$ctrl.toggle"><i class="icon ion-ios-arrow-up"></i></span>
          <span ng-if="$ctrl.toggle"><i class="icon ion-ios-arrow-down"></i></span>
        </div>
        <comments-form
          comic="$ctrl.currentComic"
          comments="$ctrl.setComments"
          service="$ctrl.getcomic"
          post="$ctrl.postText"
          text="$ctrl.commentText"
          name="$ctrl.commentName"
        ></comments-form>

        <comments-view
          comments="$ctrl.comments"
        ></comments-view>
      </div>


    </div>
  </div>

</div>