<div>
  <nav class="navbar">
    <div>
      <h2>XKCD BOARDS</h2>
      <button class="btn btn-primary"
        ng-click="$ctrl.setDefault()"
      >Home</button>
      <button class="btn btn-primary"
        ng-click="$ctrl.getcomic.getLatest($ctrl.setNewComic)"
      >Latest</button>
      <button class="btn btn-primary"
        ng-click="$ctrl.getcomic.getRandom($ctrl.setNewComic)"
      >Random</button>
    </div>
  </nav>
  <div class="row">
    <div class="col-xl-7">
      <comics-view
        comic="$ctrl.currentComic"
      ></comics-view>
    </div>
    <div class="col-xl-5">
      <comments-form
        comic="$ctrl.currentComic"
        comments="$ctrl.setComments"
        service="$ctrl.getcomic"
      ></comments-form>
      <comments-view
        comments="$ctrl.comments"
      ></comments-view>
    </div>
  </div>
</div>