<div>
  <nav class="navbar">
    <div>
      <h2>XKCD BOARDS</h2>
      <button class="btn btn-primary"
        ng-click="$ctrl.goHome()"
      >Home</button>
      <button class="btn btn-primary"
        ng-click="$ctrl.getcomic.getLatest($ctrl.setNewComic)"
      >Latest</button>
      <button class="btn btn-primary"
        ng-click="$ctrl.getcomic.getRandom($ctrl.setNewComic)"
      >Random</button>
    </div>
  </nav>
  <div class="wrapper">
    <div class="comic-view">
      <comics-view
        comic="$ctrl.currentComic"
        home="$ctrl.home"
        sethome="$ctrl.setHome"
        resethome="$ctrl.resetHome"
      ></comics-view>
    </div>
    <div class="comment-view">
      <comments-form
        comic="$ctrl.currentComic"
        comments="$ctrl.setComments"
        service="$ctrl.getcomic"
        post="$ctrl.postText"
        text="$ctrl.commentText"
        name="$ctrl.commentName"
      ></comments-form>
      <comments-view
        comments="$ctrl.comments"
      ></comments-view>
    </div>
  </div>
</div>