<div class="comments-form">
  <div class="form-wrapper">
    <input
      id="name"
      type="text"
      ng-model="$ctrl.name"
      placeholder="Name"
      ng-keyup="$event.keyCode === 13 && $ctrl.handleKeyUp()"
    ></input>
    <div class="comment-wrapper">
      <textarea 
        id="comment"
        type="text"
        ng-model="$ctrl.text"
        placeholder="Comment"
        ng-keyup="$event.keyCode === 13 && $ctrl.handleKeyUp()"
      ></textarea>
      <button class="btn btn-form"
      ng-click="$ctrl.handleClick()"
      >send</button>
    </div>
  </div>
</div>